$primary: #ebae34;
@import "./dash-ui/theme.scss";
@import "../../node_modules/bootstrap-select/sass/bootstrap-select.scss";
@import "datatables.net-bs5";
@import "datatables.net-buttons-bs5";

.navbar-vertical .navbar-nav .nav-item .nav-link.active {
    background-color: $primary;
}

.bootstrap-select .dropdown-menu {
    max-width: 100%;
}

.dt-buttons,.btn-group,.flex-wrap{
    float: left;
    margin-bottom: 0.5rem;
}

.dataTables_info{
    float: left;
}

.ml-n3{
    margin-left: -1rem !important;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active {
    border: 1px solid #ced4da;
    background-color: #fff;
}